#h1 {
    margin:auto;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;
}

#tabla { 
    color: rgb(0, 0, 0);
    background-color: gainsboro;
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: none;
    padding: 0.625rem;
    padding-left: 1.25rem;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;/*alineacion del texto*/
    width: 100%; /*cuanto quiero que ocupe de la pantalla 50%*/   
    justify-content: center;
    z-index: -1; 
}

th{
    color: rgb(0, 0, 0);
    font: bolder;
    font-style: oblique;
    background-color: rgb(129, 202, 185);
}

tr:nth-child(even){
    background-color: rgb(119, 199, 182);
}

#th, td{
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: none;
    padding: 0.625rem;
    padding-left: 1.25rem;
}

/*Contenedor*/
header {
    background-color:  lightgray;
    width: 50%;
    padding: 1rem;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    -moz-border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    -webkit-border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    border: 0px solid #000000;  
    position: fixed;
    top: 15%;
    right: 25%;
    left: 25%;
    box-sizing: border-box; 
    animation-name: aparecer;
    animation-duration: 1.5s;
}

@keyframes aparecer {
    from{opacity: 0}
    to{opacity: 1}
}

.classError{
    border: 2px solid red;
}

.classSinError{
    border: 1px solid #ccc;
}

select {
    background-color: rgb(147, 216, 195);
    width: 100%;
    padding:0.5rem 0.2rem;
}

#fechaFinal{
    width: 100%;
    padding:0.5rem 0.2rem;
}

input[type=text]{
    padding:0.5rem 0.2rem;
    box-sizing: border-box;
    align-content: center;
    width: 100%;
    margin-bottom:0.3rem;
} 

input[type=button]{
    cursor: pointer;
    text-decoration: none;
    border: 0rem solid #000000;
    padding: 0.625rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: #ffffff;
    border-radius: 0.375rem;
    font-size: 100%;
}

input[type=button]:hover{
    opacity: 50%;
}

#fechaFinal{
    cursor: pointer;
}

.containerBtnCerrar {
    display: flex;
    justify-content: flex-end;
}

#btnCerrar {
    border-radius: 10%;
    border: 0px solid #000000;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    font-size: 1.3rem;
    text-align: center; 
    background-color: red;
    text-decoration-color: silver;
    color: rgb(235, 233, 233);
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.3) inset;
}

.divBtnAgregar {
    display: flex;
    justify-content: flex-end;
}

#divBotones {
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btnAgregar {
    background-color: rgb(41, 16, 184);
}

#btnModificar {
    background-color: rgb(69, 209, 44);
}

#btnEliminar {
    background-color: red;
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(249,249,249);
    opacity: .8;
}