#h1 {
    margin:auto;
    font-weight: bold;
    font-size: 35px;

    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;
    background-color: rgb(208, 226, 222);
}

#tabla { 
    color: rgb(145, 151, 151);
    background-color: gainsboro;
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: none;
    padding: 10px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;/*alineacion del texto*/
    width: 100%; /*cuanto quiero que ocupe de la pantalla 50%*/   
    justify-content: center;
    z-index: -1; 
}

th{
    color: rgb(0, 0, 0);
    font: bolder;
    border: ridge;
}

tr:nth-child(even){
    background-color: rgb(208, 226, 222);
}

#th, td{
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: none;
    padding: 10px;
    padding-left: 20px;
}

#contenedorAgregar {
    position: fixed;
    flex-wrap: wrap; 
    padding-left: 10px;
    background: whitesmoke;
    width: 35%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
    top:25%; /*a 25 de arriba*/ 
    left:25%; /*a 25 de la izquierda*/
    right:25%;/*same derecha*/
    z-index: 998;
    animation-name: aparecer;
    animation-duration: 1s; 
}

@keyframes aparecer{
    from {opacity: 0;}
    to {opacity:1}
}

#materia {
    width: 59%;
}

.inputError{
    border: 2px solid red;
}

.inputSinError{
    border: 1px solid #ccc;
}

#cuatrimestre {
    width: 52%;
}

#fechaFinal {
    width: 59%;
}

#btnCerrar {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    width: 5%;
}

/*nota manejar la posicion desde los div, lo demas desde el boton*/
#divCerrar {
    display: flex;
    justify-content: flex-end;
}

#btnAgregar, #btnModificar, #btnEliminar {
    border: none;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#divbotones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btnAgregar {
    background-color: limegreen;
}

#btnModificar {
    background-color: limegreen;
}

#btnEliminar {
    background-color: red;
}

#loader {
    opacity: 0.5;
    flex-wrap: wrap; 
    position: fixed; 
    top:10%;
    text-align: center;
    width: 100%;
    z-index: 999;
}